.banner{
    height:519px;
    background-color: var(--cor__fundo1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__text{
    width: 50%;
    padding: 2em;

}

.banner__text h1{
    color: var(--Cor__texto);
    font-size: 45px;
    font-weight: 900;
    margin: 0.5em 0;
}

.banner__text h1 span{
    color: var(--cor__botão);
}

.banner__text__paragrafo1{
    color: var(--Cor__texto);
    font-size: 30px;
    font-weight: 600;
    margin: 0.3em 0;
}

.banner__text__paragrafo2{
    color: var(--Cor__texto);
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 1.7em;
}

.banner__button{
    margin: 7px;
    background-color: var(--cor__botão);
    padding: 10px;
    border: 0;
    border-radius: 15px;
    color: var(--cor__fundo1);
}

.banner__button a{  
    color: var(--cor__navmenu);
}

.banner__foto{
    border: 3px solid var(--cor__botão);
    border-radius: 10% 40% 30%;
    width: 350px;
    position: relative;
}
