.container__footer{
    background-color: var(--cor__fundo1);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 5rem;
    border-top: 1px solid var(--cor__fundo2);
}

.content__footer{
    text-align: left;
    text-align: left;
}

.footer.logo{
    margin-bottom: 10px;
}

.footer__text{
    color: #728197;
    max-width: 300px;
    margin-top: 1.5rem;
}

.footer__title{
    color: #2d3748;
    font-weight: 700;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}

.list__footer li a {
    color: #728197;
    
}
.Copyright{
    text-align: center;
    background-color: var(--cor__fundo1);
    padding: 1.4em;
    border-top: 1px solid var(--cor__fundo2);
    font-size: 13px;
}
